# phoenixd service
# /etc/systemd/system/phoenixd.service

[Unit]
Description=phoenixd
Wants=www.service docker_images.service
After=www.service docker_images.service

[Service]
WorkingDirectory=/opt/mynode/phoenixd

ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/bin/bash -c 'if [ -f /usr/bin/service_scripts/pre_phoenixd.sh ]; then /bin/bash /usr/bin/service_scripts/pre_phoenixd.sh; fi'

ExecStart=/opt/mynode/phoenixd/bin/phoenixd

ExecStartPost=/bin/bash -c 'if [ -f /usr/bin/service_scripts/post_phoenixd.sh ]; then /bin/bash /usr/bin/service_scripts/post_phoenixd.sh; fi'

ExecStop=kill $(pgrep -f 'fr.acinq.phoenixd.PhoenixdKt')

User=bitcoin
Group=bitcoin
Type=simple
TimeoutSec=120
Restart=always
RestartSec=60
SyslogIdentifier=phoenixd

[Install]
WantedBy=multi-user.target